/* body {
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    word-break: break-word;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0
}


h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
	display: inline-flex;
	color: var(--secondary);
	margin-inline-start: 8px;
	font-weight: 500;
	user-select: none
} */